name: CI/CD
on:
  push:
    branches: [prod]
  workflow_dispatch:
permissions:
  contents: read
  packages: write
env:
  APP_NAME: simple_classification
  REGISTRY_IMAGE: ghcr.io/${{ github.repository_owner }}/simple_classification:latest
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t ${{ env.APP_NAME }}:latest .
      - name: Install sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass
      - name: Free up space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo docker system prune -af
      - name: Save image
        run: docker save ${{ env.APP_NAME }}:latest | gzip -9 > ${{ env.APP_NAME }}.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: ${{ env.APP_NAME }}.tar.gz
          retention-days: 1
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4
        with: 
          name: docker-image
          path: .
      - name: Install sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass
      - name: Copy to VM
        run: |
          sshpass -p "${{ secrets.VM_PASSWORD }}" scp -o StrictHostKeyChecking=no -o PreferredAuthentications=password -o PubkeyAuthentication=no -P 22 "${{ env.APP_NAME }}.tar.gz" "${{ secrets.VM_USERNAME}}@${{ secrets.VM_HOST}}:/tmp/${{ env.APP_NAME }}.tar.gz"
      - name: Deploy on VM
        run: | 
          sshpass -p "${{ secrets.VM_PASSWORD }}" ssh -p 22 -o StrictHostKeyChecking=no "${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }}" << 'EOF'
          set -e
          cd /tmp
          file simple_classification.tar.gz
          gunzip -t simple_classification.tar.gz
          gunzip simple_classification.tar.gz
          file simple_classification.tar
          docker load -i simple_classification.tar
          docker rm -f simple_classification || true
          docker run -d --name simple_classification --restart unless-stopped -p 8000:8000 simple_classification:latest
          rm simple_classification.tar
          EOF