name: CI/CD
on:
  push:
    branches: [prod]
  workflow_dispatch:

env:
  APP_NAME: simple_classification

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t ${{ env.APP_NAME }}:latest .
      - name: Save image
        run: | 
          docker save ${{ env.APP_NAME }}:latest | gzip > ${{ env.APP_NAME }}.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: ${{ env.APP_NAME}}.tar.gz
          retention-days: 1
  
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4
        with: 
          name: docker-image
          path: .
      - name: Install sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass
      - name: Copy to VM
        run: |
          sshpass -p "${{ secrets.VM_PASSWORD }}" scp -o StrictHostKeyChecking=no -o PreferredAuthentications=password -o PubkeyAuthentication=no -P 22 "${{ env.APP_NAME }}.tar.gz" "${{ secrets.VM_USERNAME}}@${{ secrets.VM_HOST}}:/tmp/${{ env.APP_NAME }}.tar.gz"
      - name: Deploy on VM
        run: | 
          sshpass -p "${{ secrets.VM_PASSWORD }}" ssh -p 22 -o StrictHostKeyChecking=no ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }} << 'EOF'
          set -e
          gunzip -c /tmp/${{ env.APP_NAME }}.tar.gz | sudo docker load
          sudo docker rm -f ${{ env.APP_NAME}} || true
          sudo docker run -d --name ${{ env.APP_NAME }}
          --restart unless-stopped -p 8000:8000 ${{ env.APP_NAME }}:latest
          EOF

